
body {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.square {
    background-color: #1b1b32;
    width: 10rem;
    aspect-ratio: 1/1;
    margin-bottom: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}