
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #404040;
    text-align: center;
}

/* === Typography ===*/

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #FFFFFF;
    margin: 0;
    text-transform: capitalize;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

h1 + p {
    color: #F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p {
    color: #F18119;
    font-weight: 900;
    font-size: 1rem;  
    text-transform: uppercase;
}

.top-text {
    color: #F18119;
    font-weight: 900;
    font-size: 0.625rem;
    text-transform: uppercase;
    margin: 0;
    order: -1;
    border-top: 5px solid #F18119;
    border-image: linear-gradient(to left,#ff713b, #ffa51f) 1;
}

.fine-print {
    font-size: 0.7rem;
    letter-spacing: 1px;
}

strong {
    font-weight: 900;
}

/* ================== */

/* === Intro Section and Main Content ===*/

.intro {
    background-color: #404040;
    background-image: url(../assets/img/ribs.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 .5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

.intro > *, 
.main-content > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    padding: 2em 1em;
}

/* ================== */


/* === Form ===*/

.email-collector {
   width: 80%;
   max-width: 300px;
}

input,
.btn {
    width: 100%;
    padding: .25em;
    margin-bottom: 1em;
    font-family: inherit;
    text-align: inherit;
    border: 1px solid #404040;
    border-radius: 3px;
}

input {
    transition: transform 500ms;
}

input:focus {
    transform: scale(1.1);
}

.btn {
   display: inline-block; 
   padding: 1em 1.5em;
   font-size: 0.625rem;
   font-weight: 900;
   letter-spacing: 1px;
   text-transform: uppercase;
   cursor: pointer;
   border: none;
}

.btn-primary {
    background-image: linear-gradient(to left,#ff713b, #ffa51f);
    color: white;
    transform: scale(1);
    transition: transform 500ms;
}

.btn-primary:hover,
.btn-primary:focus {
    transform: scale(1.1);
}

/* ================== */

/* === Media Queries ===*/
@media (min-width: 550px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2,
    h1 + p {
        font-size: 1.75rem;
    }

    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

/* ================== */